table {
    border-collapse: collapse;
}

th,
td {
    max-height: 500px;
    padding: 5px;
    border: 1px solid black;
}

th {
    width: 25%;
    background-color: rgb(32, 32, 32);
}

td {
    width: 75%;
    background-color: whitesmoke;
}

a {
    color: black;
}

img {
    max-height: 500px;
}

h1 {
    text-align: center;
}
